@import '/src/styles/shared.scss';

.subtitle {
  margin-bottom: 50px;

  text-align: center;
  color: $primary-white;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;

  @include fromTablet {
    display: none;
  }
}

.menu {
  @extend %text;

  @include mobile {
    position: fixed;
    top: -32px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 120vh;

    z-index: 1;

    display: none;

    &.isOpen {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;

      background-color: $dark-black;
    }
  }

  @include tablet {
    display: flex;
    align-items: center;
  }
}

.number {
  text-align: center;
  text-decoration: none;
  color: $primary-white;
  font-size: 20px;
  font-weight: 400;

  @include mobile {
    margin-top: 50px;
  }

  @include fromTablet {
    display: none;
  }
}
