@import "src/styles/shared.scss";

.container {
  @extend %container;
}

.serviceList {
  @extend %list;
}

.subtitle {
  @extend %subtitle;
}

.service {
  @extend %subtitle;

  margin-top: 12px;
  margin-bottom: 20px;

  text-transform: capitalize;
  font-size: 30px;
  font-family: $font-primary;
  font-weight: 400;
}
