$primary-black: #212121;
$dark-black: #000000;

$primary-grey: #cacaca;
$light-grey: #aaaaaa;
$medium-grey: #7c7c7c;
$dark-grey: #545454;
$graphite-grey: #292929;

$primary-white: #ffffff;
$secondary-white: #f3f4f6;

$error-red: #820000;