@font-face {
  font-family: "ZvinSerif-Bold";
  src: url(../fonts/ZvinSerif-Bold.eot);
  src: url(../fonts/ZvinSerif-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/ZvinSerif-Bold.otf) format("otf"),
    url(../fonts/ZvinSerif-Bold.svg#ZvinSerif-Bold) format("svg"),
    url(../fonts/ZvinSerif-Bold.ttf) format("truetype"),
    url(../fonts/ZvinSerif-Bold.woff) format("woff"),
    url(../fonts/ZvinSerif-Bold.woff2) format("woff2");
}
