@import "./fonts";
@import "./variables";
@import "./colors";

body {
  margin: 0;

  background-color: #fff;
  color: $primary-black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font-primary;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
