@import 'src/styles/shared.scss';

.calendar {
  width: 100%;
  font-family: $font-primary;
  border-collapse: collapse;
}

.calendar th {
  background-color: $primary-white;
  padding: 8px;
  text-align: center;
}

.calendar td {
  padding: 8px;
  text-align: center;
}

.calendar .weekday {
  color: $medium-grey;
  font-weight: 500;
  text-transform: lowercase;
}

.calendar .day {
  cursor: pointer;
}

.days tr {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.today {
  background-color: $primary-white;
  border: 1px solid $primary-black;
}

.selected {
  background-color: $primary-grey;
}

.start {
  background-color: $primary-grey;
}

.end {
  background-color: $primary-grey;
}
