@import '/src/styles/shared.scss';

.nav {
  display: flex;
  justify-content: center;
  align-content: center;
  transition: opacity $transition-default;
  overflow: hidden;
}

.navList {
  @extend %list;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
  }
}

.navLink {
  @extend %text;
  text-decoration: none;
  color: $primary-white;
  font-weight: 400;
  font-size: 38px;

  @media screen and (min-width: $tablet) {
    color: $primary-black;
    font-size: 20px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
