@import '/src/styles/shared.scss';

.container {
  @extend %container;
  position: relative;
  display: flex;
  flex-shrink: 0.5;
  align-items: baseline;
  @include fromTablet {
    justify-content: space-between;
  }
}

.header {
  position: relative;
  min-height: 30px;
  margin-top: 32px;
  z-index: 1;

  // animation: fadeIn 1000ms ease-in-out forwards;
}

.logo {
  // overflow: visible;
  @include fromTablet {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
}

.button {
  @extend %primaryButton;
  @include mobile {
    position: absolute;
    top: 0;
    right: 20px;

    margin: 0;
    padding: 6px 16px;
    z-index: 1;

    font-size: 16px;

    cursor: pointer;
  }

  @include fromTablet {
    display: none;
  }

  &.isOpen {
    position: absolute;
    right: 30px;
    z-index: 2;
    background-color: transparent;
    border: none;
  }
}

.number {
  @extend %text;
  margin: 0;
  line-height: 0.5;
  display: flex;
  align-items: center;

  color: $primary-black;

  text-decoration: none;
  text-wrap: nowrap;
  font-size: 20px;
  font-weight: 400;

  @include mobile {
    display: none;
  }
}
