@import '/src/styles/shared.scss';

.scroll {
  overflow: hidden;
}

.header {
  @extend %container;

  position: relative;
  min-height: 30px;
  margin-top: 32px;
  z-index: 1;

  @include mobile {
    max-width: $tablet;
  }
  @include tablet {
    max-width: $desktop;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 20px;
}

.logo {
  @include fromTablet {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
}

.button {
  @extend %primaryButton;

  &.isOpen {
    position: fixed;
    top: 32px;
    right: 30px;
    background-color: transparent;
    border: none;
  }

  @include mobile {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 6px 16px;
    z-index: 1;

    font-size: 16px;

    cursor: pointer;
  }

  @include fromTablet {
    display: none;
  }
}

.number,
.login {
  @extend %text;
  margin: 0;
  line-height: 0.5;
  display: flex;
  align-items: center;

  color: $primary-black;

  text-decoration: none;
  text-wrap: nowrap;
  font-size: 20px;
  font-weight: 400;

  @include mobile {
    display: none;
  }
}
