@import '/src/styles/shared.scss';

.container {
  @extend %container;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 40px;

  justify-content: center;
  align-items: center;
  border-top: 1px solid $primary-black;
  padding-top: 60px;

  margin: 40px 0;
  @include laptopAndDesktop {
    flex-direction: row;

    margin: 60px 0;
  }
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.desktop {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.navList {
  @extend %list;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  @include laptopAndDesktop {
    flex-direction: row;
  }
}

.navLink {
  @extend %text;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;

  color: $primary-black;
}

.socialContainer {
  display: flex;
  flex-direction: column;
}

.logoLink {
  text-align: center;
}

.socialList {
  @extend %list;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.number {
  @extend %link;
}
