@import 'src/styles/shared.scss';

.container {
  @extend %container;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding: 40px 0;

  @include mobileAndTablet {
    justify-content: center;

    padding: 40px 0;

    background-image: url('/img/login/hotel652.jpg');
    background-position: center center;
    background-repeat: no-repeat;
  }
}
