@import 'src/styles/shared.scss';

.container {
  @extend %container;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 30px;
  margin-bottom: 30px;
  @include mobileAndTablet {
    justify-content: center;

    background-image: url('/img/login/hotel652.jpg');
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.navBox {
  @include mobileAndTablet {
    width: 100%;
    max-width: 360px;

    margin: 0 20px;
    padding: 40px 0;
  }
}